In [15]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,label_binarize

In [3]:
data_path = r"C:\Users\ACER\Desktop\Lab_Python4ML\Lab_10\data\Data.csv"

In [6]:
df = pd.read_csv(data_path)
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [7]:
df["Class"].unique()

array([2, 4], dtype=int64)

In [8]:
encoder = OneHotEncoder()

In [12]:
encoder.fit(df)

OneHotEncoder()

In [13]:
ndf = encoder.transform(df)

In [14]:
ndf

<683x721 sparse matrix of type '<class 'numpy.float64'>'
	with 7513 stored elements in Compressed Sparse Row format>

In [ ]:
encoder = label_binarize(class)