In [271]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [190]:
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder
a = ["a","b","c"]
#b=b.reshape((1,-1))
c = [["b"],["c"]]

In [191]:
class OnehotEncoder:
    def __init__(self):
        self.lenght=0
        self.data={}
    def fit(self,data):
        for id,key in enumerate(data):
            self.data[key]=id
        self.lenght = len(data)
    def transform(self,data):
        ba = []
        for i in data:
            a = np.zeros(self.lenght,dtype=np.int32)
            for j in i:
                a[self.data[j]]=1
            ba.append(a.tolist())
        return ba

In [192]:
b = OnehotEncoder()

In [193]:
b.fit(a)

In [194]:
b.transform(c)

[[0, 1, 0], [0, 0, 1]]

In [272]:
class Salary:
    def __init__(self):
        self.data=None
        self.encoder={}
        self.best_model=None
        self.features = []
    def check_str_type(self, word):
        return str(type(word)).split()[1].split("'")[1] == "str"
    def process_data(self, data_path):
        self.data = pd.read_csv(data_path)
        self.features.append(list(self.data.columns))
        target = self.data.columns[-1]
        for i in self.data.columns:
            if self.check_str_type(self.data.iloc[0][i]):
                LaEn = OnehotEncoder()
                temp = self.data[i].unique()
                LaEn.fit(temp)
                temp_data = np.array(LaEn.transform(self.data[i].values.reshape((-1,1)))).T
                for id, key in enumerate(temp):
                    self.data[key]=temp_data[id]
                self.encoder.update({i:LaEn})
                self.data.drop(i,axis=1,inplace=True)
        return (target,list(filter(lambda x: x!=target, self.data.columns)))
    def fit(self, data_path):
        rank={}
        target, feature = self.process_data(data_path)
        X = self.data[feature].values
        y = self.data[[target]].values
        xtrain,xtest,ytrain,ytest = train_test_split(X,y, test_size = 0.3)
        Linear_model = LinearRegression()
        Linear_model.fit(xtrain,ytrain)
        rank.update({Linear_model.score(xtest,ytest):Linear_model})
        
        svr_model = SVR(kernel="poly", degree=5)
        svr_model.fit(xtrain,ytrain)
        rank.update({svr_model.score(xtest,ytest):svr_model})
        
        rfr_model = RandomForestRegressor(n_estimators=500)
        rfr_model.fit(xtrain,ytrain)
        rank.update({rfr_model.score(xtest,ytest):rfr_model})
        self.best_model = rank[max(list(rank.keys()))]
        
    def predict(self, features):
        return self.best_model.predict(features)

In [273]:
%cd "C:\Users\ACER\Desktop\Lab_Python4ML"

C:\Users\ACER\Desktop\Lab_Python4ML

In [281]:
a = Salary()

In [282]:
path = "./Lab_1/data/Position_Salaries.csv"

In [276]:
d = pd.read_csv(path)
d["Position"].values.reshape((-1,1))

array([['Business Analyst'],
       ['Junior Consultant'],
       ['Senior Consultant'],
       ['Manager'],
       ['Country Manager'],
       ['Region Manager'],
       ['Partner'],
       ['Senior Partner'],
       ['C-level'],
       ['CEO']], dtype=object)

In [277]:
a.process_data(path)

('Salary',
 ['Level',
  'Business Analyst',
  'Junior Consultant',
  'Senior Consultant',
  'Manager',
  'Country Manager',
  'Region Manager',
  'Partner',
  'Senior Partner',
  'C-level',
  'CEO'])

In [278]:
a.encoder

{'Position': <__main__.OnehotEncoder at 0x147917070d0>}

In [279]:
a.data

,Level,Salary,Business Analyst,Junior Consultant,Senior Consultant,Manager,Country Manager,Region Manager,Partner,Senior Partner,C-level,CEO
0,1,45000,1,0,0,0,0,0,0,0,0,0
1,2,50000,0,1,0,0,0,0,0,0,0,0
2,3,60000,0,0,1,0,0,0,0,0,0,0
3,4,80000,0,0,0,1,0,0,0,0,0,0
4,5,110000,0,0,0,0,1,0,0,0,0,0
5,6,150000,0,0,0,0,0,1,0,0,0,0
6,7,200000,0,0,0,0,0,0,1,0,0,0
7,8,300000,0,0,0,0,0,0,0,1,0,0
8,9,500000,0,0,0,0,0,0,0,0,1,0
9,10,1000000,0,0,0,0,0,0,0,0,0,1

In [283]:
a.fit(path)

C:\Users\ACER\anaconda3\envs\CS116\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_1372\705088741.py:39: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr_model.fit(xtrain,ytrain)

In [285]:
a.data

,Level,Salary,Business Analyst,Junior Consultant,Senior Consultant,Manager,Country Manager,Region Manager,Partner,Senior Partner,C-level,CEO
0,1,45000,1,0,0,0,0,0,0,0,0,0
1,2,50000,0,1,0,0,0,0,0,0,0,0
2,3,60000,0,0,1,0,0,0,0,0,0,0
3,4,80000,0,0,0,1,0,0,0,0,0,0
4,5,110000,0,0,0,0,1,0,0,0,0,0
5,6,150000,0,0,0,0,0,1,0,0,0,0
6,7,200000,0,0,0,0,0,0,1,0,0,0
7,8,300000,0,0,0,0,0,0,0,1,0,0
8,9,500000,0,0,0,0,0,0,0,0,1,0
9,10,1000000,0,0,0,0,0,0,0,0,0,1

In [286]:
a.best_model

RandomForestRegressor(n_estimators=500)

In [1]:
import nhap

In [4]:
for i in nhap.z:
    print(i)

delay=5

fn=r'./output/heatmap.html'

tmpurl='file://{path}/{mapfile}'.format(path=os.getcwd(),mapfile=fn)

m.save(fn)



browser = webdriver.Chrome(ChromeDriverManager().install())

browser.get(tmpurl)

#Give the map tiles some time to load

time.sleep(delay)

browser.save_screenshot(r'./output/heatmap.png')

browser.quit()